:root {
  --purple: hsl(180, 240, 120);
  --white: #FFFFFF;
  --black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: monospace;
  background: var(--bg);
  color: var(--fontColor);
}
li {
  list-style: circle;
}
.list {
  list-style: square;
}
.light-theme {
  --bg: var(--purple);
  --fontColor: var(--black);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--purple);
}
