* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
 
body {
  font-family: monospace;
  color: hsl(180, 240, 120);
}

ul {
    font-family: helvetica;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}
